@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: "Comfortaa", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #FFFFFF;
  font-family: "Comfortaa", sans-serif;
}

p {
  font-family: "Comfortaa", sans-serif;
  color: rgba(255, 255, 255, 0.8);
}

ul li {
  list-style: none;
  color: #FFFFFF;
  font-family: "Comfortaa", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.head_section {
  padding-bottom: 150px;
  width: 100%;
  background: url("./img/bgHeader.png") center/cover;
}
.head_section .hat {
  max-width: 1440px;
  height: 80px;
  padding: 0 15px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head_section .hat ul li {
  display: inline-block;
  margin-right: 25px;
  font-size: 16px;
  font-weight: 400;
}
.head_section .hat ul li i {
  margin-right: 10px;
}
@media (max-width: 386px) {
  .head_section .hat {
    flex-direction: column;
    height: auto;
    text-align: center;
  }
  .head_section .hat ul li {
    margin: 5px 0;
  }
}
.head_section header {
  border-top: #FFFFFF 1px solid;
  height: 80px;
}
.head_section header .header {
  max-width: 1440px;
  height: 80px;
  padding: 0 15px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head_section header .header ul li {
  display: inline-block;
  margin-right: 25px;
  font-size: 18px;
  font-weight: 400;
}
.head_section header .header ul li i {
  margin-right: 10px;
}
@media (max-width: 636px) {
  .head_section header .header ul {
    display: none;
  }
}
.head_section .swiper_mainp {
  max-width: 1400px;
  padding: 150px 0 0;
  margin: auto;
  position: relative;
}
.head_section .swiper_mainp .swiper-container {
  overflow: hidden;
}
.head_section .swiper_mainp .swiper-container .swiper-wrapper {
  padding: 0 80px 0 80px;
}
.head_section .swiper_mainp .swiper-container .swiper-wrapper .swiper-slide h3 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 25px;
  text-wrap: wrap;
}
.head_section .swiper_mainp .swiper-container .swiper-wrapper .swiper-slide h2 {
  font-size: clamp(30px, 5vw, 70px);
  font-weight: 500;
  line-height: 70px;
}
.head_section .swiper_mainp .swiper-container .swiper-wrapper .swiper-slide h2 span {
  color: #C19D6D;
}
.head_section .swiper_mainp .swiper-container .swiper-wrapper .swiper-slide button {
  padding: 19px 34px 19px 34px;
  border-radius: 24px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  margin: 100px 0 50px;
  cursor: pointer;
}
@media (max-width: 636px) {
  .head_section .swiper_mainp .swiper-container .swiper-wrapper {
    padding: 0 0 0 0;
    text-align: center;
  }
}

main {
  background-color: #111111;
  height: auto;
  /* padding: 0px 15px; */
}
main .info {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}
main .info .info_first {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 200px;
}
main .info .info_first .info_first_img {
  max-width: 493px;
  height: 600px;
  margin: 0 15px;
}
main .info .info_first ul {
  margin: 0 15px;
}
main .info .info_first ul li {
  max-width: 536px;
  margin-bottom: 35px;
}
main .info .info_first ul li h3 {
  font-size: 32px;
  font-weight: 400;
  display: flex;
  align-items: center;
}
main .info .info_first ul li h3 img {
  margin-right: 15px;
}
main .info .info_first ul li p {
  font-size: 18px;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.8);
  line-height: 26px;
}
@media (max-width: 990px) {
  main .info .info_first {
    flex-direction: column;
  }
  main .info .info_first .info_first_img {
    width: 100%;
    height: auto;
    margin: 15px 0;
  }
}
main .menu {
  max-width: 1200px;
  margin: auto;
  padding-top: 150px;
}
main .menu .menu_title {
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  margin: 50px 0;
}
main .menu .menu_catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
main .menu .menu_catalog .catalog {
  text-align: center;
  background-color: #282828;
  padding: 19px 26px;
  border-radius: 50% 50% 10px 10px;
  margin-bottom: 50px;
}
main .menu .menu_catalog .catalog .catalog_subtitle {
  margin: 25px 0;
}
main .video_conteiner {
  background: url("./img/unsplash_55bQ7g3ZlQU.png") center/cover;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .video_conteiner .video_btn {
  position: relative;
}
main .video_conteiner .video_btn video {
  max-width: 1100px;
  /* height:500; */
}
main .video_conteiner .video_btn .pause-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  transform: translate(-50%, -50%);
  background-color: #CB7C5A;
  color: #FFFFFF;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  /* display: none; */
}
main .video_conteiner .video_btn .video_conteiner:hover .pause-button {
  display: block;
}
@media (max-width: 768px) {
  main .video_conteiner .video_btn {
    position: relative;
  }
  main .video_conteiner .video_btn video {
    width: 100%;
    /* height:500; */
  }
}
main .about {
  display: flex;
  padding: 150px 15px;
  justify-content: space-around;
  align-items: center;
  max-width: 1210px;
  padding: 0 15px;
  margin: auto;
}
main .about .about_img {
  max-width: 700px;
  margin-right: 25px;
}
@media (max-width: 768px) {
  main .about .about_img {
    margin: 15px 10px;
  }
}
main .about .about_title {
  font-size: 32px;
  margin-bottom: 10px;
}
main .about .about_number {
  color: #C19D6D;
}
main .about .about_subtitle {
  font-size: 32px;
  margin: 20px 0;
}
main .about .about_link {
  margin-top: 10px;
  display: inline-block;
}
main .about .about_link i {
  margin-right: 15px;
}
@media (max-width: 990px) {
  main .about {
    flex-direction: column;
    padding: 50px 15px;
  }
  main .about .about_img {
    width: 100%;
  }
}
main .registration {
  background: url("./img/unsplash_55bQ7g3ZlQU.png");
  height: 900px;
  padding: 80px 0;
}
main .registration .registration_title {
  text-align: center;
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 50px;
}
main .registration .registration_container {
  max-width: 400px;
  height: auto;
  margin: auto;
  background-color: #111111;
  padding: 40px;
  border-radius: 25px;
}
main .registration .registration_container h5 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 13px;
  font-weight: 300;
  margin-left: 10px;
  margin-bottom: 3px;
}
main .registration .registration_container input {
  width: 100%;
  padding: 11px 16px 11px 16px;
  background-color: #282828;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 10px;
}
main .registration .registration_container .registration_btn {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  border-radius: 25px;
  width: 100%;
  height: 45px;
  background-color: #282828;
  border: none;
  margin-top: 20px;
}
@media (max-width: 768px) {
  main .registration .registration_title {
    font-size: 25px;
  }
  main .registration .registration_container {
    width: 100%;
    padding: 15px;
  }
}

footer {
  background-color: #141217;
  padding: 60px 15px;
}
footer .footer_conteiner {
  margin: auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
footer .footer_conteiner ul li {
  margin: 5px 0;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.8);
}
footer .footer_conteiner ul li h3 {
  font-size: 18px;
  margin-bottom: 15px;
}
footer .footer_conteiner ul li img {
  margin-bottom: 25px;
}
footer .footer_conteiner_bottom {
  margin: auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: rgba(255, 255, 255, 0.8);
}
footer .footer_conteiner_bottom h3 {
  font-size: 13px;
  margin-right: 30px;
}
footer .footer_conteiner_bottom i {
  margin-right: 15px;
  font-size: 18px;
}
@media (max-width: 768px) {
  footer .footer_conteiner {
    text-align: center;
  }
  footer .footer_conteiner_bottom {
    text-align: center;
    margin-top: 50px;
  }
  footer .footer_conteiner_bottom h3 {
    margin-bottom: 25px;
  }
  footer .footer_conteiner_bottom div {
    margin: auto;
  }
}

.hamburger-menu {
  display: none;
}

@media (max-width: 636px) {
  .hamburger-menu {
    display: block;
  }
}
#menu__toggle {
  opacity: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 110px;
  right: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
}

/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: 0.25s;
}

.menu__box {
  transition-duration: 0.25s;
}

.menu__item {
  transition-duration: 0.25s;
}/*# sourceMappingURL=style.css.map */